@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&family=Lato:wght@100;300;400;700;900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-body font-light;
}

h1, h2, h3, h4, h5 {
  @apply font-heading;
}

p {
  @apply text-base font-body;
}

.logo {
  @apply font-logo;
}